debug_print/
levels/

brushes/_untitled.brush

runtime_settings/*

bin/
tmp/

.vs

Session.vim
.exrc
tags
core
todos.txt

cscope.out
cscope.files

build/*

breakpoints

.vscode/*

# Artifacts emitted by running ./make.sh and the test suites
log.txt
*.dSYM/
